.App {
  text-align: center;
}

.smurf {
  text-align: center;
  border: 2px solid rgb(231, 231, 243);
  width: 400px;
  margin: 4px;
  border-radius: 20px;
}

.smurfcard {
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
}